.xml-element {
  margin: 10px;
  margin-left: 20px;
}

.xml-element a:focus,
.xml-element a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.important {
  color: red;
}

.xml-label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
